.form-name:focus {
    outline: rgb(29, 172, 216) solid 3px;
}

.form-check.form-check-inline{
    display: inline;
    margin-right : 12px;
}
.form-check-input{
    margin-right : 5px;
}

.group0{
    display:block;
}
.group1{
    display:none;
}
.group2{
    display:none;
}
.group3{
    display:none;
}
.group4{
    display:none;
}
.group5{
    display:none;
}
.group6{
    display:none;
}




